<!DOCTYPE html>
<html>
	<head>
		<title>资料详情</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!-- 所有的 css & js 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../static/sa.css"> 
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
		<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
		<script src="https://unpkg.com/http-vue-loader@1.4.2/src/httpVueLoader.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="../../static/sa.js"></script>
		<style type="text/css">
			/* 使长度更长点 */
			/* .c-panel .c-label{width: 10em;} */
			.vue-box,.c-panel{background-color: #EEE;}
			.c-panel .c-title{margin-bottom: 20px;}
			.c-item .c-label{width: 150px;}
			.c-item .el-input{width: 300px;}
			/* 链接样式  */
			.my-link{position: relative; top: -1px; margin-left: 0.5em;}
		</style>
	</head>
	<body>
		<div class="vue-box sbot" style="display: none;" :style="'display: block;'">
			<!-- ------- 内容部分 ------- -->
			<div class="s-body">
				<div class="c-panel">
					<el-form v-if="m">
						<div style="height: 20px;"></div>
						<sa-info name="编号" br>{{m.id}}</sa-info>
						<sa-info name="名称" br>{{m.name}}</sa-info>
						<sa-info name="手机" br>{{m.phone || '无'}}</sa-info>
						<sa-info name="角色" br>{{m.roleName}}</sa-info>
						<sa-info name="创建账号" br>
							<span v-if="m.createByAid == -1">无</span>
							<a v-else :href=" 'admin-info.html?id=' +  m.createByAid">{{m.createByAid}}</a>
						</sa-info>
						<sa-info name="创建时间" br>{{sa.forDate(m.createTime, 2)}}</sa-info>
						<sa-info name="最后登录" br>{{sa.forDate(m.loginTime, 2) || '无'}}</sa-info>
						<sa-info name="最后登录IP" br>{{m.loginIp || '无'}}</sa-info>
					</el-form>
				</div>
			</div>
			<!-- ------- 底部按钮 ------- -->
			<div class="s-foot">
				<el-button type="success" @click="sa.closeCurrIframe()">确定</el-button>
				<el-button @click="sa.closeCurrIframe()">取消</el-button>
			</div>
			
		</div>
		
		<script type="text/javascript">
			var app = new Vue({
				components: {
					"sa-info": httpVueLoader('../../sa-frame/com/sa-info.vue')
				},
				el: '.vue-box',
				data: {
					id: parseInt(sa.p('id', 0)),
					sa: sa,
					m: null
				},
				methods: {
					// ok
					ok: function(pageNo) {
						sa.closeCurrIframe();
					},
				},
				created: function() {
					if(this.id == 0 || this.id == sa.$sys.getCurrUser().id) {
						sa.ajax('/admin/getByCurr', function(res) {
							this.m = res.data;
						}.bind(this));
					} else {
						sa.ajax('/admin/getById?id=' + this.id, function(res) {
							this.m = res.data;
						}.bind(this));
					}
				}
			})
			
		</script>
	</body>
</html>
