<!DOCTYPE html>
<html>
	<head>
		<title>修改密码</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- 所有的 css & js 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../static/sa.css"> 
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
		<script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="../../static/sa.js"></script>
		<style>
			/* body,.sbot.vue-box{background-color: #EEE !important;} */
			.c-item .c-label{width: 10em;}
			.c-item .el-input__inner{width: 300px;}
        </style>
	</head>
	<body>
		<div class="vue-box sbot" style="display: none;" :style="'display: block;'">
			<!-- ------- 内容部分 ------- -->
			<div class="s-body">
				<div class="c-panel">
					<div class="c-title">数据添加</div>
					<el-form size="mini" v-if="m">
						<br>
						<div class="c-item">
							<label class="c-label">旧密码：</label>
							<el-input size="mini" v-model="m.oldPwd" type="password"></el-input>
						</div>		
						<br>
						<div class="c-item">
							<label class="c-label">再次输入旧密码：</label>
							<el-input size="mini" v-model="m.oldPwd2" type="password"></el-input>
						</div>		
						<br>
						<div class="c-item">
							<label class="c-label">新密码：</label>
							<el-input size="mini" v-model="m.newPwd" type="password"></el-input>
						</div>
						<br>
						<div class="c-item">
							<label class="c-label">再次输入新密码：</label>
							<el-input size="mini" v-model="m.newPwd2" type="password"></el-input>
						</div>
					</el-form>
				</div>
			</div>
			<!-- ------- 底部按钮 ------- -->
			<div class="s-foot">
				<el-button size="mini" type="primary" @click="ok()">确定</el-button>
				<el-button size="mini" @click="sa.closeCurrIframe()">取消</el-button>
			</div>

		</div>
		<script>
			var app = new Vue({
				el: '.vue-box',
				data: {
					sa: sa,
					m: {
						oldPwd: '',
						oldPwd2: '',
						newPwd: '',
						newPwd2: ''
					},
				},
				methods: {
					// 提交 
					ok: function() {
						// 表单验证
						if(sa.isNull(this.m.oldPwd) || sa.isNull(this.m.newPwd) || sa.isNull(this.m.newPwd2) ) {
							return sa.msg('请填写');
						}
						if(this.m.oldPwd != this.m.oldPwd2 ) {
							return sa.msg('旧密码两次输入不一致');
						}
						if(this.m.newPwd != this.m.newPwd2 ) {
							return sa.msg('新密码两次输入不一致');
						}
						if(this.m.newPwd.length < 4) {
							return sa.msg('新密码请不要低于六位数');
						}
						sa.ajax('/AdminPassword/update', this.m, function(res) {
							if(parent != window) {
								sa.closeCurrIframe();
								parent.sa.ok2('修改成功');
							}
						})
						//sa.$fast.fastUpdate2('/SysUser/updatePassword', this.m);
					},
				},
				mounted: function() {
					
				}
			})
		</script>
	</body>
</html>
